@page
@model IndexModel
@{
    ViewData["Title"] = "Évènements";
}

@if (this.Model.Events != null && this.Model.Events.Any()) {
    <ul>
        @foreach (var ev in this.Model.Events) {
            <li><a href="@ev.MessageLink">@ev.EventName</a></li>
        }
    </ul>
}
