@page
@model message_log.Pages.MessagesCopyRequestModel
@{
}

@if (this.Model.IsSuccess)
{
    <p>Vous avez copié @this.Model.MessagesCopied messages. <a href="/Message/@this.Model.ToEventID">Aller vers les messages.</a></p>
}
else
{
    <form method="post" id="message-form">
        <fieldset>
            <legend>
                Copier messages non quittancés d'un évènement à l'autre
            </legend>



            <div class="form-group">
                <label for="Priority">Messages de</label>
                <select class="form-control" id="FromEventID" asp-items="this.Model.Events" asp-for="FromEventID">
                    <option value="">Séléctionnez un évènement source</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Approval">À copier dans</label>
                <select class="form-control" id="ToEventID" asp-items="this.Model.Events" asp-for="ToEventID">
                    <option value="">Séléctionnez un évènement destination</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Copier</button>
        </fieldset>
    </form>
}
