@page "{eventID}"
@model MessageModel
@{
}

@if (this.Model.Messages != null && this.Model.Messages.Any())
{
<table class="table">
    <thead>
        <th scope="col">Date d'envoi</th>
        <th scope="col">De</th>
        <th scope="col">À</th>
        <th scope="col">Message</th>
    </thead>
    <tbody>
        @foreach (var message in this.Model.Messages)
    {
            <td>@message.EnteredOn.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@message.Sender</td>
            <td>@message.Recipient</td>
            <td>@message.MessageText</td>
    }
    </tbody>
</table>
}

<form method="post">
    <fieldset>
        <legend>
            Nouveau message
        </legend>

        <div class="form-group">
            <label for="EnteredOn">Date d'envoi</label>
            <input type="datetime-local" class="form-control" id="EnteredOn" name="EnteredOn" />
        </div>

        <div class="form-group">
            <label for="Sender">De</label>
            <input type="text" class="form-control" id="Sender" name="Sender" />
        </div>

        <div class="form-group">
            <label for="Recipient">À</label>
            <input type="text" class="form-control" id="Recipient" name="Recipient" />
        </div>

        <div class="form-group">
            <label for="MessageText">Message</label>
            <textarea class="form-control" id="MessageText" name="MessageText"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </fieldset>
</form>